<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.sixthhosp.gcmpa.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.sixthhosp.gcmpa.Perspective"
            id="com.sixthhosp.gcmpa.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.sixthhosp.gcmpa.views.TasksView"
            icon="icons/views/prop_ps.gif"
            id="com.sixthhosp.gcmpa.views.taskview"
            name="Tasks">
      </view>
      <view
            class="com.sixthhosp.gcmpa.views.ToolsView"
            icon="icons/views/hierarchicalLayout(4).gif"
            id="com.sixthhosp.gcmpa.views.toolsview"
            name="Tools">
      </view>
      <view
            class="com.sixthhosp.gcmpa.views.FilesView"
            icon="icons/main/views/files.gif"
            id="com.sixthhosp.gcmpa.views.filesview"
            name="Files">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.sixthhosp.gcmpa.perspective">
        <view
               closeable="false"
               id="com.sixthhosp.gcmpa.views.toolsview"
               minimized="false"
               moveable="false"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="false"
               id="com.sixthhosp.gcmpa.views.taskview"
               minimized="false"
               moveable="false"
               ratio="0.75"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="false"
               id="com.sixthhosp.gcmpa.views.filesview"
               minimized="false"
               moveable="false"
               ratio="0.8"
               relationship="right"
               relative="com.sixthhosp.gcmpa.views.taskview">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.sixthhosp.gcmpa.application"
            name="Integrated Platform for Metabolomics Research - IP4M v1.8.0">
         <property
               name="windowImages"
               value="icons/gcmpa/gcmpa16.png,icons/gcmpa/gcmpa32.png,icons/gcmpa/gcmpa48.png,icons/gcmpa/gcmpa64.png,icons/gcmpa/gcmpa128.png,icons/gcmpa/gcmpa256.png">
         </property>
         <property
               name="appName"
               value="Integrated Platform for Metabolomics Research - IP4M v1.8.0">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.sixthhosp.gcmpa.editors.HelpEditor"
            default="false"
            id="com.sixthhosp.gcmpa.editors.helpeditor"
            matchingStrategy="com.sixthhosp.gcmpa.editors.ms.HelpEditorMachingStrategy"
            name="Help Editor">
      </editor>
      <editor
            class="com.sixthhosp.gcmpa.editors.ParamEditor"
            default="false"
            id="com.sixthhosp.gcmpa.editors.parameditor"
            name="Param Editor">
      </editor>
      <editor
            class="com.sixthhosp.gcmpa.editors.HtmlEditor"
            default="false"
            id="com.sixthhosp.gcmpa.editors.htmleditor"
            matchingStrategy="com.sixthhosp.gcmpa.editors.ms.HtmlEditorMachingStrategy"
            name="HTML Editor">
      </editor>
      <editor
            class="com.sixthhosp.gcmpa.editors.LogEditor"
            default="false"
            id="com.sixthhosp.gcmpa.editors.logditor"
            matchingStrategy="com.sixthhosp.gcmpa.editors.ms.LogEditorMachingStrategy"
            name="Log Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.sixthhosp.gcmpa.toolhelp"
            name="ToolHelp">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.sixthhosp.gcmpa.toolhelp"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F1">
      </key>
   </extension>

</plugin>
